name: dock_progress
description: "Shows progress animation on macos dock icon"
version: 0.0.1
homepage: https://github.com/edex96/dock_progress

environment:
  sdk: ^3.10.4
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      macos:
        pluginClass: DockProgressPlugin
